<html>
    <head>
        <title>API Dokumentacija</title>
    </head>
    <body>
        <h1>API Dokumentacija</h1>
        <ul>
            <li><strong>GET /posts</strong> - Dohvati postove</li>
            <li><strong>POST /posts</strong> - Kreiraj novi post</li>
            <li><strong>GET /users</strong> - Dohvati sve korisnike</li>
            <li><strong>GET /users/&lt;user_id&gt;</strong> - Dohvati detalje korisnika</li>
            <li><strong>PUT /users/&lt;user_id&gt;</strong> - Ažuriraj korisnika</li>
            <li><strong>DELETE /users/&lt;user_id&gt;</strong> - Izbriši korisnika</li>
            <li><strong>GET /users/&lt;user_id&gt;/posts</strong> - Dohvati sve postove određenog korisnika</li>
            <li><strong>GET /users/&lt;user_id&gt;/posts/&lt;post_id&gt;</strong> - Dohvati detalje posta</li>
            <li><strong>PUT /users/&lt;user_id&gt;/posts/&lt;post_id&gt;</strong> - Ažuriraj post</li>
            <li><strong>DELETE /users/&lt;user_id&gt;/posts/&lt;post_id&gt;</strong> - Izbriši post</li>
        </ul>
    </body>
</html>